h1 {
    color: red;
  }
ion-col{
    text-size-adjust: 100pt;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  ion-content{

    --ion-background-color: #f6f6f6;
  }
